

.fieldRow{
  display: flex;
}

.processDate{
  width: 137px !important;
}

.span-label{
  width: 100% !important;
}

.more-label {
  margin-top: 20px;;
}

.SearchButtonBox{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}